:host {
    padding: 20px;
    display: flex;
    .mat-card{
        display: flex;
        flex-direction: column;
        height: 120px;
        .mat-card-header {
            width: 100%;
            .mat-card-title {
                width: 180px;   
                padding-top: 10px;
            }
        }
        .mat-card-content{
            display: flex;
            flex-direction: column; 
            padding-top: 10px;
            flex-grow: 1;
            height: 100%;
        }
        .mat-card-actions {
            padding-left: 10px;
        }
    }
}

.mat-slide-toggle {
    color: primary;
}

.mat-card-avatar {
    background-image: url('../../assets/office365.png');
    background-size: cover;
    height: 60px;
    width: 60px;
  }

  .loggedContent {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }