<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>Microsoft Office365</mat-card-title>
    <mat-card-subtitle>Access to Microsoft Office365 notifications</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="microsoftAuthService.authenticated == false">
    <button mat-raised-button color="primary" class="logginButton" (click)="login()">Log in</button>
  </mat-card-content>
  <mat-card-content *ngIf="microsoftAuthService.authenticated">
    <div class="loggedContent">
      <mat-slide-toggle [checked]=" notificationsEnabled" (change)="getNotifications()" color="primary">Activate notifications</mat-slide-toggle>
      <button mat-stroked-button color="primary" (click)="signOut()">Log Out</button>
    </div>
       <!-- <h4>Welcome {{ microsoftAuthService.user.displayName }}!</h4> -->
    </mat-card-content>
  
</mat-card>
<!-- <mat-card class="card">
  <h1>Microsoft Office365</h1>
  <div *ngIf="authService.authenticated; then welcomeUser else signInPrompt"></div>
    <ng-template #welcomeUser>
      <h4>Welcome {{ authService.user.displayName }}!</h4>
    </ng-template>
    <ng-template #signInPrompt>
      <button mat-button>Click me!</button>
      <button mat-button (click)="signIn()">Click here to sign in</button>
    </ng-template>
</mat-card> -->